.main{
    background-color:#1e1f21;
    display:grid;
    grid-template-rows:0.1fr 0.1fr 0.5fr 0.5fr;
    height:100vh;
    color:white;

}
.main_grid_0{
    border:1px solid #393a3c;
    padding:0.5rem;
}
.main_grid_1{
    border:1px solid #393a3c;
    padding:0.5rem;
}
.main>.main_grid_2{
    display:grid;
    grid-template-columns:0.2fr auto;
    align-items:center;
    height:100%;
    color:white;
    border:1px solid #393a3c;

}
.main_grid_2-1{
    display:flex;
    border:1px solid #393a3c;
    height:100%;
    align-items:center;
}
.main_grid_2-1>ul>li{
    list-style-type:none;
    padding-top:2rem;
    padding-bottom:2rem;
}

