.nav>ul{
    display:flex;
    flex-direction:row;
    list-style-type:none;
    justify-content:space-between;
    border-top:1px solid #393a3c;
    color:white;
    font-weight:bold;
    padding:0px;

}
